on: 
  push:
    branches:
    - master
name: deploy repo chile odoo10012
jobs:
  deploy:
    name: deploy odoo12 addons
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: SSH Server Deploy
      uses: kostya-ten/ssh-server-deploy@v4
      env:
        PSW: ${{ secrets.SERVER_PASSWORD }}
      with:
        host: ${{ secrets.SERVER_HOST }}
        port: ${{ secrets.SERVER_PORT }}
        username: ${{ secrets.SERVER_USERNAME }}
        password: ${{ secrets.SERVER_PASSWORD }}
        scp_source: ./*
        scp_target: /home/fjvigil/web/docker/odoo/odoo-12-docker-compose/addons/
        before_script: |
          cd /home/fjvigil/web/docker/odoo/odoo-12-docker-compose/
          echo ${{ secrets.SERVER_PASSWORD }} 
          sudo -S -k docker-compose kill 
          rm -rf /home/fjvigil/web/docker/odoo/odoo-12-docker-compose/addons/*
        after_script: |          
          cd /home/fjvigil/web/docker/odoo/odoo-12-docker-compose/
          echo ${{ secrets.SERVER_PASSWORD }} 
          sudo -S -k docker-compose restart
    - name: Post to a Slack channel
          id: slack
          uses: slackapi/slack-github-action@v1.18.0
          with:
            # Slack channel id, channel name, or user id to post message.
            # See also: https://api.slack.com/methods/chat.postMessage#channels
            channel-id: 'https://api.slack.com/methods/chat.postMessage#C0312JA9JLE'
            # For posting a simple plain text message
            slack-message: "GitHub build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
          env:
            SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}



#xapp-1-A038GJ44JS2-3295276964339-3290d8fe4198e3ad723a0fc33d3738a5bf6025ae93f393dfd5409516c6886c49